body, html{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul, p, h1, h2, h3, h4{
  padding:0px;
  margin:0px;
}

a{
  text-decoration: none;
}

:root{

  /*COLORS*/
  --lightgray:#E0E0E0;
  --purple:#8685EF;

  /*FONTS*/
  --font-secondary:"Arial", sans-serif;
  --font-main:"Times New Roman", serif;

  /*Z-INDEX*/
  --nav-header:100;
  --nav-menu:99;

  /*BOX-SHADOW*/
  --bs-light:1px 1px 5px var(--lightgray);

}
